*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  background: white url("../images/background.jpg");
  background-size: cover;
  color: #333332;
  letter-spacing: .01rem;
  font-weight: 300;
  font-size: 18px;
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height: 19px;
  text-rendering: optimizelegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333332;
}

h1 {
  font-size: 36px;
  font-size: 2em;
  line-height: 1.55676em;
}

h2 {
  font-size: 28px;
  font-size: 1.55556em;
  line-height: 1.54483em;
}

h3 {
  font-size: 24px;
  font-size: 1.33333em;
  line-height: 1.536em;
}

h4 {
  font-size: 21px;
  font-size: 1.16667em;
  line-height: 1.52727em;
}

h5 {
  font-size: 18px;
  font-size: 1em;
  line-height: 1.51579em;
}

p {
  font-size: 18px;
  font-size: 1em;
  line-height: 1.51579em;
  margin-bottom: 15.83333px;
}

a {
  color: #0074d9;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

.slide.ng-enter,
.slide.ng-leave {
  position: relative;
  display: block;
  -webkit-transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

.slide.ng-enter.ng-enter-active,
.slide.ng-leave {
  top: 0;
  left: 0;
  opacity: 1;
}

.slide.ng-leave.ng-leave-active,
.slide.ng-enter {
  top: 0px;
  left: -200px;
  opacity: 0;
}

.fade.ng-enter,
.fade.ng-leave {
  position: relative;
  display: block;
  -webkit-transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

.fade.ng-enter.ng-enter-active,
.fade.ng-leave {
  top: 0;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active,
.fade.ng-enter {
  top: 0;
  opacity: 0;
}

#wrapper {
  margin: 50px auto;
  width: 1200px;
  height: 900px;
  -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
}

aside {
  display: inline-block;
  float: left;
  width: 280px;
  height: 900px;
  background-color: #1ecbfd;
}
aside header#top {
  width: 100%;
  height: 130px;
  padding: 25px 10px;
  background-color: #1ecbfd;
  color: #F7F7F8;
}
aside header#top #logo {
  background: #f7f7f8 url("../images/logo.png") no-repeat center center;
  background-size: 61px 70px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  float: left;
}
aside header#top h1 {
  margin-top: 10px;
  margin-left: 15px;
  float: left;
  display: inline-block;
  font-family: Raleway;
}
aside header#top h1 a {
  color: #F7F7F8;
  font-weight: 800;
}
aside section.sectionheader {
  float: left;
  width: 100%;
  background-color: #14beef;
  position: relative;
}
aside section.sectionheader i.fa {
  position: absolute;
  top: 22px;
  left: 10px;
  color: #8bd8f5;
}
aside section.sectionheader input.searchquery {
  padding: 25px 12px;
  max-width: 100%;
  border: 0 none;
  background: 0 none;
  color: #8bd8f5;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.2);
}
aside section.sectionheader input.searchquery::-webkit-input-placeholder {
  color: rgba(247, 247, 248, 0.7);
}
aside section.noteslist {
  float: left;
  padding-top: 25px;
  width: 100%;
  background-color: #55c9e6;
  color: #fff;
}
aside section.noteslist .newnote {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  width: 95%;
  border-radius: 30px;
  background: #7b67a4;
  color: #fff;
  text-align: center;
}
aside section.noteslist h3 {
  margin: 15px 15px 10px 15px;
}
aside section.noteslist ul {
  list-style-type: none;
}
aside section.noteslist ul li {
  float: left;
  max-height: 77px;
  width: 100%;
  border-bottom: 1px solid #55c9e6;
  background-color: #28badd;
  text-overflow: ellipsis;
}
aside section.noteslist ul li .icon {
  display: inline-block;
  float: left;
  padding: 20px 10px;
  width: 40px;
  background-color: #1dadd4;
}
aside section.noteslist ul li .title {
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 27px 11px;
  width: 200px;
  -webkit-box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
  box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
  text-overflow: ellipsis;
  white-space: nowrap;
}
aside section.noteslist ul li a {
  color: #E4E6E4;
}

main {
  font-size: 22px;
  font-size: 1.22222em;
  line-height: 1.53043em;
  display: inline-block;
  float: left;
  width: 920px;
  -webkit-box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
  box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
}
main #formbuttons {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  float: left;
  width: 100%;
}
main #formbuttons #notetitle {
  float: left;
  display: inline-block;
  width: 600px;
}
main #formbuttons #notetitle h3 {
  color: #29BBDF;
}
main #formbuttons #buttonholder {
  float: right;
  display: inline-block;
  width: 300px;
  text-align: right;
}
main #formbuttons #buttonholder .btn {
  padding: 0px 10px;
  border-radius: 5px;
  color: #fff;
  border: 0 none;
  font-size: 18px;
  font-weight: 300;
  -webkit-text-stroke-width: 0px;
  -webkit-appearance: none;
  display: inline-block;
  -webkit-box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
  box-shadow: -2px 0px 5px rgba(50, 50, 50, 0.1);
}
main #formbuttons #buttonholder .btn-cancel {
  background: #52596b;
}
main #formbuttons #buttonholder .btn-save {
  background: #28d8b3;
}
main #formbuttons #buttonholder .btn-save:disabled {
  background: rgba(40, 216, 179, 0.5);
}
main #formbuttons #buttonholder .btn-delete {
  background: #FD6E6D;
}
main #fields {
  height: 800px;
  clear: both;
}
main input.megainput {
  display: block;
  float: left;
  padding: 25px 20px;
  width: 100%;
  border: 0;
  background: 0 none;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
  color: #333;
  font-size: 28px;
}
main input.megainput::-webkit-input-placeholder {
  color: #666;
}
main input.megainput:focus {
  outline: none;
}
main textarea.noteentry {
  display: block;
  float: left;
  padding: 25px 20px;
  width: 100%;
  height: 750px;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
main textarea.noteentry::-webkit-input-placeholder {
  color: #666;
}
main textarea.noteentry:focus {
  outline: none;
}
