a:link {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #217dbb;
  text-decoration: none;
}
a:visited {
  color: #16527a;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}
h1 {
  font-size: 2.3em;
  line-height: 2em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}
h4 {
  font-size: 1.2em;
  line-height: 1em;
}
/* for border-radius, named to be consistent with roundedcorner */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
