a:link {
  color: #f1c40f;
  text-decoration: none;
}
a:hover {
  color: #c29d0b;
  text-decoration: none;
}
a:visited {
  color: #796307;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
