body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 1.2em;
  color: #333;
  font-weight: 300;
  font-family: "Alegraya", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.container {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}
.breath {
  margin-top: 15px;
}
a:link {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #217dbb;
  text-decoration: none;
}
a:visited {
  color: #16527a;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}
h1 {
  font-size: 2.3em;
  line-height: 2em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}
h4 {
  font-size: 1.2em;
  line-height: 1em;
}
/* for border-radius, named to be consistent with roundedcorner */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.hint,
.hint-before {
  position: relative;
}
.hint:after,
.hint-before:before {
  position: absolute;
  opacity: 0;
  z-index: 5000;
  pointer-events: none;
  content: attr(data-hint);
  padding: 8px 10px;
  line-height: 12px;
  white-space: nowrap;
  text-indent: initial;
  overflow: initial;
  -webkit-transition: 0.3s ease 0.2s linear;
  -moz-transition: 0.3s ease 0.2s linear;
  -ie-transition: 0.3s ease 0.2s linear;
  -o-transition: 0.3s ease 0.2s linear;
  transition: 0.3s ease 0.2s linear;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.hint:hover:after,
.hint-before:hover:before {
  opacity: 1;
}
/**
 * positioning and design
 */
.hint:hover:after,
.hint-before:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}
.hint:after,
.hint-before:before {
  top: 16px;
  left: 6px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 0px 1px #888;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 6px solid rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  /* FF3.5 - 3.6 */
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header {
  background-color: #1abc9c;
  padding: 25px 5px;
}
header h1 {
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
section {
  margin-left: 17.708333333333332% !important;
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
footer {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}
@media only screen and (max-width: 767px) {
  /* phones */
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
