meta(charset='UTF-8')
title i broke git :(
link(rel='stylesheet', href='css/reset.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
// script(src='scripts/vendor/jquery/jquery.min.js')
script(src='scripts/main.min.js')
script(src='scripts/svginject.js')